.App {
    header {
        display: flex;
        img {
            width: 20%;
        }
        h1 {
            text-decoration: underline;
            margin-left: 20%;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #B60300;
        padding: 5% 0%;
    }
}

.List {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

    .list-item {
        border: 1px solid lightgrey;
        width: 20vw;
        margin: 2%;
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 10px;
    }
}

.Form {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    padding: 0% 2% 2% 2%;
    margin: 2%;


    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        input {
            height: 25px;
            width: 200px;
            margin: 0% 0% 10% 0%;
            border-radius: 10px;
            border: none;
            padding: 2%;
        }
        button {
            height: 40px;
            width: 125px;
            border-radius: 10px;
            font-size: 24px;
        }
    } 
}

.Search {
    input {
        height: 25px;
        width: 200px;
        margin: 0% 0% 10% 0%;
        border-radius: 10px;
        border: none;
        padding: 2%;
    }
}